.main_action{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: rgb(18,18,18);    ;
    background: linear-gradient(0deg, rgba(18, 18, 18) 10%, rgba(62, 79, 35) 100%);
    opacity: 60%;
    padding-left:2rem;
    padding-right:2rem;
}
.left {
    display: flex;
    flex-direction: row;
}
.right{
    display: flex;
    flex-direction: row;
}
.play{
    font-Size:200% !important;
    color: #1DD760;
}
.like{
    font-Size:140% !important;
    align-items: center;
    height: 100%;
    padding-top: 0.5rem;
    padding-left: 0.8rem;
}
.more{
    font-Size:140% !important;
    align-items: center;
    height: 100%;
    padding-top: 0.5rem;
    padding-left: 0.8rem;
}

.filter{
    display: flex;
    align-items: center;
    padding-left:1.5rem;
    height: 100%;
}
.share{
    display: flex;
    align-items: center;
    height: 100%;
}