
.main_body{
    max-height: 90vh;
    overflow-y: hidden;
}

.main_body::-webkit-scrollbar{
    width: 0.9rem;
}
.main_body::-webkit-scrollbar-thumb{
    background-color: #2E2E2E;
}
.main_body::-webkit-scrollbar-thumb:hover{
    background-color: #7b7b7b;
}
.main_body::-webkit-scrollbar-track{
    background-color: #0e0e0e;
}
.main_body:hover{
    overflow-y: scroll;
}